body {
    background: beige;
}
h1, 
p {
    margin: 20px;
    text-align: center;

}
h1 {
    font-weight: 700;
    font-size: 54px;
}
p,
a {
    font-size: 16px;
}
p {
    padding: 30px;
}
.croissant-photo {
  display: block;
  margin: 5px auto;
  max-width: 100%;
  padding: 30px;
}